body{
    height: 200vw;
}

.btnScroll{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: crimson;
    width: 30px;
    height: 30px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 2px 10px #aaa;
    position: fixed;
    bottom: 50px;
    right: 50px;
    cursor: pointer;
}

.btnScroll i{
    color: white;
    font-size: 30px;
}